<% @page_title = "Subjects list"%>

<div class="subject list">
	<h2>Subjects</h2>
	<%= link_to("Add New Subject", {:action => 'new'}, :class => 'action new')%>
	<div><%= pluralize(@admin_users.size, 'subject')%> found </div>
	<table class="listing" summary="Subject list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Subject</th>
			<th>Visible</th>
			<th>Pages</th>
			<th>Actions</th>
		</tr>
		<% @admin_users.each do |admin_users| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td> <%= admin_users.username %> </td>
			<td> <%= subject.name %> </td>
			<td class="center"> <%= mail_to(admin_users.email) %> </td>
			<td class="center"> <%= subject.pages.size %> </td>
			<td class="actions">
				<%= link_to("Show", {:action => 'show', :id => admin_users.id}, :class => 'action show')%>
				<%= link_to("Edit", {:action => 'edit', :id => admin_users.id},  :class => 'action edit')%>
				<%= link_to("Delete", {:action => 'delete', :id => admin_users.id}, :class => 'action delete')%>
			</td>
		</tr>
		<% end %>
	</table>
	
</div>